#plans {
    height: 100%;
    padding-top: 10vh;
    color: $primary-color-dark;
    .plans__header {
        display: flex;
        flex-direction: column;
        align-items: center;
        h2 {
            font-size: 3em;
            font-weight: 800;
            padding-bottom: 50px;
        }
        p {
            color: rgb(54, 54, 54);
            font-size: 1.3em;
            text-align: center;
            max-width: 800px;
            line-height: 1.6em;
        }
    }
    .plans__buttons {
        display: flex;
        width: 400px;
        justify-content: center;
        margin-top: 2em;
        font-size: 1.3rem;

        .anual {
            margin-right: 40px;
            color: white;
            background-color: $primary-color;
            padding: 20px 40px;
            border-radius: 30px;
            font-weight: 700;
        }
        .month {
            font-weight: 700;
        }

    }

    .plans__cards {
        margin-top: 25px;
        display: flex;
        justify-content: center;
        padding: 2%;
        height: 100%;
        .planCard {
            width: 30%;
            max-width: 300px;
            .card__cover {
                display: flex;
                flex-direction: column;
                align-items: center;
                background-color: rgb(243, 243, 243);
                padding: 30px 0;
                h2 {
                    font-size: 2em;
                    font-weight: 800;
                    padding-bottom: 20px;
                }
                .description {
                    text-align: center;
                    line-height: 1.5em;
                    padding-bottom: 40px;
                }
                .price__div {
                    display: flex;
                    align-items: baseline;
                }
                .price {
                    font-weight: 800;
                    font-size: 2.5em;
                }
                span {
                    font-size: 1.5rem;
                }
                button {
                    margin-top: 40px;
                    padding: 15px 60px;
                    background-color: rgb(196, 223, 255);
                    font-weight: 600;
                    color: rgb(53, 57, 255);
                }
            }
            .card__info {
                line-height: 2.5rem;
                padding: 20px; 
                font-size: 1rem;
                background-color: white;
                box-shadow: inset 0 0 10px rgb(230, 230, 230);
                
                ul {
                    list-style-type: none;
                }
                li {
                    background: url("../img/diaomonf.png");
                    background-size: 20px;
                    background-repeat: no-repeat;
                    background-position: left;
                    padding-left: 40px;
                }
             }
             .card__info--selected {
                li {
                    background: url("../img/diamond-dark.png");
                    background-size: 20px;
                    background-repeat: no-repeat;
                    background-position: left;
                    padding-left: 40px;
                }
            
            }
            .card__cover--selected {
                background-color: $primary-color;
                color: white;
                button {
                    background-color: $secondary-color;
                    color: $primary-color-dark;
                    font-weight: 800;
                }
            }
        
        }
    }

}